*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

.rating svg {
  color: #F8E825;
}

.rating-text {
  font-weight: 600;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.product-title {
  height: 100px;
  overflow: hidden;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #F4F4F4;
  padding: 10px;
  border: 1px solid #DDD;
}

.review button {
  margin-top: 10px;
}

button:disabled,
select:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

select::-webkit-scrollbar {
  display: none;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.product-details-img {
  width: 100%;
  height: 220px;
  transition: 0.25s;
}

.product-details-img:hover {
  transform: scale(1.025);
}

.cart-item-count:after {
  content: attr(value);
  display: inline-block;
  position: absolute;
  position: relative;
  padding: 1px;
  height: 19px;
  width: 19px;
  right: 56px;
  top: -15px;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  background: #FF0000;
  color: white;
}

.cart-item-count-invisible:after {
  content: attr(value);
  display: inline-block;
  padding-right: 1px;
  height: 19px;
  width: 19px;
  right: 56px;
  top: -15px;
}

.qty-select-invisible {
  width: 40px;
  height: 27px;
  margin-top: 5px;
  margin-left: 4px;
  padding: 0 0 1px;
}

.qty-select {
  width: 40px;
  height: 27px;
  margin-top: 5px;
  margin-left: 4px;
  padding: 0 0 1px;
  font-weight: 600;
  text-align: center;
}

.quantity-alert-text:after {
  content: attr(value);
  display: block;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: #FF0000;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  -webkit-box-shadow: none;
}

@media (max-width: 768px) {
  .qty-select-invisible {
    margin-top: 3px;
    margin-left: -11px;
  }

  .qty-select {
    margin-top: 4px;
    margin-left: -11px;
  }

  .ms-cart-margin-1 {
    margin-top: 1px !important;
  }

  .ms-text-center {
    text-align: center;
  }

  .product-details-img {
    height: 320px;
  }
}

@media (max-width: 490px) {
  .qty-select-invisible {
    margin-left: auto;
  }

  .qty-select {
    margin-left: auto;
  }

  .xs-price-width-100 {
    width: 100px !important;
  }
}