*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #F8E825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #F4F4F4;
  padding: 10px;
  border: 1px solid #DDD;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cart-item-count:after {
  content: attr(value);
  display: inline-block;
  position: absolute;
  position: relative;
  height: 19px;
  width: 19px;
  right: 56px;
  top: -15px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background: #FF0000;
  color: #DDD;
  border-radius: 50%;
  opacity: 0.9;
}

.cart-item-count-invisible:after {
  content: attr(value);
  display: inline-block;
  position: absolute;
  text-align: center;
  position: relative;
  height: 19px;
  width: 19px;
  right: 56px;
  top: -15px;
}

.qty-select {
  font-weight: 600;
  margin-top: 7px;
  margin-left: 4px;
  height: 27px;
  width: 40px;
  padding: 0 0 1px;
  text-align: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.qty-select::-webkit-scrollbar {
  display: none;
}

.quantity-alert-text:after {
  content: attr(value);
  display: block;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: #FF0000;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  -webkit-box-shadow: none;
}

@media (max-width: 768px) {
  .qty-select {
    margin-top: 7px;
    margin-left: -7px;
  }
}

@media (max-width: 490px) {
  .qty-select {
    margin-top: 6px;
    margin-left: 3px;
  }

  .xs-price-width-120 {
    width: 120px !important;
  }
}